body.absence-manager {
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
}
.App-header {
  background-color:rgba(255,148,25,0.85);
  color: white;
  padding-top: 2vh;
  padding-left: 2vw;
  letter-spacing: -.05rem;
}
.App-contents {
  padding-left: 2vw;
  padding-right: 2vw;
}
.datagrid {
  height: 100%;
  min-height: 70vh;
  padding-top: 1vw;
}

.filter-title {
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 600;
}

html, body {
  margin: 0px;
}
a {
  color: #ff9419;;
}
a:hover {
  color: #ff9419;;
  text-decoration: none;
}
a:visited {
  color: #ff9419;;
}
